/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  font-family: "Poppins", serif;
  background-color: #cdb4db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

.underline {
  height: 0.25rem;
  background-color: #a2d2ff;
  border: none;
  width: 4rem;
  margin: 0 auto;
  margin-top: 0.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px gray;
  gap: 0.5rem;
  width: 40rem;
}

.img-container {
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.person-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(50%);
  background-color: #a2d2ff;
  color: #fff;
}

.img-container::before {
  content: "";
  width: 12.5rem;
  height: 12.5rem;
  background-color: #a2d2ff;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.author {
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
}

.profession {
  color: #a2d2ff;
  font-size: 1.25rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  background-color: transparent;
  border: none;
  color: #a2d2ff;
  font-size: 1.5rem;
  cursor: pointer;
}

.surprise-btn {
  padding: 0.25rem 1rem;
  border: 2px solid #a2d2ff;
  border-radius: 0.25rem;
  color: #a2d2ff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.25s;
  font-size: 1.25rem;
}

.surprise-btn:hover {
  background-color: #a2d2ff;
  color: #fff;
}

@media screen and (max-width: 42rem) {
  .content {
    width: calc(100vw - 2rem);
  }
}
